/* Default styles */
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 14px;
    overflow: hidden;
}

body {
    margin: 0 auto;
    padding: 0;
    width: 1024px;
    height: 768px;
    overflow: hidden;

    background-color: #1C6565;

    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 1rem;
    line-height: 16px;
}
*,
*:before,
*:after {
    box-sizing: border-box;
    user-select: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.main {
    margin: 84px 127px 133px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rectangle1, .rectangle2 {
    margin-right: 30px;
    width: 370px;
    height: 551px;

    background: #F9E88E;
    border-radius: 4px;
}

.rectangle__title {
    padding-top: 27px;
    margin-bottom: 38px;

    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;

    color: #000;
}

.equipments__item {
    margin: 20px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-control {
    display: block;
    width: 190px;
    height: 36px;
    padding: .375rem .75rem;

    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #727272;
    border-radius: 4px;
}

.equipments:after {
    content: "";
    display: block;
    position: absolute;
    width: 280px;
    height: 0;
    margin: 10px 45px;
    border: 1px solid #727272;
}

/* Rectanle Image */

.helmets__img {
    position: absolute;
    top: 7px;
    left: 133px;
    z-index: 1000;
}
.chests__img {
    position: absolute;
    top: 86px;
    left: 137px;
}

.gloves__img {
    position: absolute;
    top: 155px;
    left: 85px;
}

.boots__img {
    position: absolute;
    top: 250px;
    left: 120px;
}

.swords__img {
    position: absolute;
    top: 190px;
}

.person__img {
    display: block;
    margin: 41px auto 0;
}

.hire__disabled {
    width: 75px;
    height: 54px;
    background-color: #F9E88E;
    position: absolute;
    left: 133px;
    top: -4px;
    z-index: 1;
}

