/* Default styles */
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 14px;
    overflow: hidden;
}


body {
    margin: 0 auto;
    padding: 0;
    width: 1024px;
    height: 768px;
    overflow: hidden;

    background-color: #1C6565;

    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 1rem;
    line-height: 16px;
}
*,
*:before,
*:after {
    box-sizing: border-box;
    user-select: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.main {
    margin: 84px 127px 133px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rectangle1, .rectangle2 {
    margin-right: 30px;
    width: 370px;
    height: 551px;

    background: #F9E88E;
    border-radius: 4px;
}

.rectangle2 {
    margin-right: 0;
}

.rectangle__title {
    padding-top: 27px;
    margin-bottom: 38px;

    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;

    color: #000;

}

.rectangle__img {
    position: relative;
}

.helmet__img {
    position: absolute;
    left: 130px;
}

.chest__img {
    position: absolute;
    left: 137px;
    top: 86px;
}

.gloves__img {
    position: absolute;
    left: 85px;
    top: 155px;
}

.boots__img {
    position: absolute;
    left: 120px;
    top: 250px;
}

.swords__img {
    position: absolute;
    top: 190px;
}

.girl_img {
    display: block;
    margin: 41px auto 0;
}

.equipments__item {
    margin: 20px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.equipments__title {
    font-size: 14px;
    text-align: center;
}

.form-control {
    display: block;
    width: 190px;
    height: 36px;
    padding: .375rem .75rem;

    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #727272;
    border-radius: 4px;
}

.equipments:after {
    content: "";
    display: block;
    position: absolute;
    width: 280px;
    height: 0;
    margin: 10px 45px;


    border: 1px solid #727272;
}

.cost {
    margin: 50px 45px 0;;
    font-size: 14px;

    color: #000000;
}

.personProps {
    margin: 36px 0 0 80px;
}

.personName {
    margin-bottom: 20px;
}

.name {
    margin-right: 39px;
}

.stats__num {
    margin-right: 44px;
}

.heart__img {
    margin-left: 26px;
}

.shield_num, .sword_num {
    margin-top: 10px;
    margin-left: 83px;
}

.shield__img, .sword__img {
    margin-top: 10px;
    margin-left: 34px;
}